# Project proposal

---

Group name:

---

## Introduction

The introduction section includes

-   an introduction to the subject matter you're investigating
-   the motivation for your research question (citing any relevant literature)
-   the general research question you wish to explore
-   your hypotheses regarding the research question of interest.


## Data description

In this section, you will describe the data set you wish to explore. This includes

-   description of the observations in the data set,
-   description of how the data was originally collected (not how you found the data but how the original curator of the data collected it).


## Analysis approach

In this section, you will provide a brief overview of your analysis approach. This includes:

-   Description of the response variable.
-   Visualization and summary statistics for the response variable.
-   List of variables that will be considered as predictors
-   Your model type (what kind of model(s) will you use ... e.g. linear regression)

## Data dictionary

*Create a data dictionary for all the variables in your data set. You may fill out the data description table or create your own table with Pandas:*

<br>


| Name  |   Description	| Role   	| Type   	|  Format 	|
|---	|---	        |---    	|---	    |---	|
|   	|   	        |   	    |   	    |   	|
|   	|   	        |   	    |   	    |   	|
|   	|   	        |   	    |   	    |   	|


<br>

- `Role`: response, predictor, ID (ID columns are not used in a model but can help to better understand the data)

- `Type`: nominal, ordinal or numeric

- `Format`: int, float, string, category, date or object

# Overiew of data

Import data from GitHub

In [26]:
#| code-line-numbers: '|1|3|5|'
URL = "https://raw.githubusercontent.com/paulovfc/supermarket_get/master/dataset_gruppe_A_csv.csv"

df_github = pd.read_csv(URL, sep=";", decimal='.', encoding_errors='ignore')

df_github.head()

,General.EstateTypeKey,General.ReferenceNumber,General.DistributionTypeKey,General.ConstructionYear,General.LivingSpace,Tealium.object_locationid,Tealium.object_address_is_visible,Tealium.object_zip,Tealium.object_currency,Tealium.object_features,...,USAGE,SUITABILITY,CONDITION,HOUSECONDITION,PARKINGSLOT,ENERGY,BUILDINGTYPE,HEATING,ELEVATOR,EQUIPMENTS
0,WOHNUNG,001/G1/E114,ZUM_KAUF,20230,24707,493480,True,90482,EUR,"['Neubau', 'WANNE', 'gaestewc', 'Bad/WC getren...",...,NaN,NaN,Erstbezug,Neubau,Tiefgarage,NaN,NaN,Fubodenheizung,Personenaufzug,NaN
1,WOHNUNG,NaN,ZUM_KAUF,19000,690,493430,False,90461,EUR,"['Dach ausgebaut', 'WANNE', 'gaestewc', 'Bad/W...",...,vermietet,WG-geeignet,renoviert / saniert,NaN,NaN,Gas,NaN,Etagenheizung,NaN,NaN
2,WOHNUNG,NaN,ZUM_KAUF,19720,6946,493465,False,90473,EUR,"['WANNE', 'GEPFLEGT', 'FERN', 'LAMINAT', 'FLIE...",...,vermietet,NaN,gepflegt,NaN,Tiefgarage,Fernwrme,NaN,NaN,NaN,NaN
3,WOHNUNG,X4_301,ZUM_KAUF,20230,8281,493524,True,90429,EUR,"['Neubau', 'DUSCHE', 'Personenaufzug', 'ERSTBE...",...,NaN,NaN,Erstbezug,Neubau,NaN,Blockheizkraftwerk,KfW 55,Fubodenheizung,Personenaufzug,NaN
4,WOHNUNG,X4_204,ZUM_KAUF,20230,7552,493524,True,90429,EUR,"['Neubau', 'DUSCHE', 'Personenaufzug', 'Erdges...",...,NaN,NaN,Erstbezug,Neubau,NaN,Blockheizkraftwerk,KfW 55,Fubodenheizung,Personenaufzug,NaN

Data overview

In [28]:
df_github

,General.EstateTypeKey,General.ReferenceNumber,General.DistributionTypeKey,General.ConstructionYear,General.LivingSpace,Tealium.object_locationid,Tealium.object_address_is_visible,Tealium.object_zip,Tealium.object_currency,Tealium.object_features,...,USAGE,SUITABILITY,CONDITION,HOUSECONDITION,PARKINGSLOT,ENERGY,BUILDINGTYPE,HEATING,ELEVATOR,EQUIPMENTS
0,WOHNUNG,001/G1/E114,ZUM_KAUF,20230,24707,493480,True,90482,EUR,"['Neubau', 'WANNE', 'gaestewc', 'Bad/WC getren...",...,NaN,NaN,Erstbezug,Neubau,Tiefgarage,NaN,NaN,Fubodenheizung,Personenaufzug,NaN
1,WOHNUNG,NaN,ZUM_KAUF,19000,690,493430,False,90461,EUR,"['Dach ausgebaut', 'WANNE', 'gaestewc', 'Bad/W...",...,vermietet,WG-geeignet,renoviert / saniert,NaN,NaN,Gas,NaN,Etagenheizung,NaN,NaN
2,WOHNUNG,NaN,ZUM_KAUF,19720,6946,493465,False,90473,EUR,"['WANNE', 'GEPFLEGT', 'FERN', 'LAMINAT', 'FLIE...",...,vermietet,NaN,gepflegt,NaN,Tiefgarage,Fernwrme,NaN,NaN,NaN,NaN
3,WOHNUNG,X4_301,ZUM_KAUF,20230,8281,493524,True,90429,EUR,"['Neubau', 'DUSCHE', 'Personenaufzug', 'ERSTBE...",...,NaN,NaN,Erstbezug,Neubau,NaN,Blockheizkraftwerk,KfW 55,Fubodenheizung,Personenaufzug,NaN
4,WOHNUNG,X4_204,ZUM_KAUF,20230,7552,493524,True,90429,EUR,"['Neubau', 'DUSCHE', 'Personenaufzug', 'Erdges...",...,NaN,NaN,Erstbezug,Neubau,NaN,Blockheizkraftwerk,KfW 55,Fubodenheizung,Personenaufzug,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
956,WOHNUNG,001/G1/E119,ZUM_KAUF,20230,11032,493480,True,90482,EUR,"['Neubau', 'WANNE', 'gaestewc', 'DUSCHE', 'Kel...",...,NaN,NaN,Erstbezug,Neubau,Tiefgarage,NaN,NaN,Fubodenheizung,Personenaufzug,NaN
957,WOHNUNG,001/G1/E72,ZUM_KAUF,20230,10311,493480,True,90482,EUR,"['Neubau', 'barriefrei', 'WANNE', 'gaestewc', ...",...,NaN,barrierefrei,Erstbezug,Neubau,Tiefgarage,NaN,NaN,Fubodenheizung,Personenaufzug,NaN
958,WOHNUNG,NaN,ZUM_KAUF,19650,910,493430,True,90441,EUR,"['Personenaufzug', 'Zentralheizung', 'LINOLEUM...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Zentralheizung,Personenaufzug,NaN
959,WOHNUNG,64415430,ZUM_KAUF,19580,340,493479,True,90409,EUR,"['DUSCHE', 'Kelleranteil', 'GAS', 'Zentralheiz...",...,frei,NaN,NaN,NaN,NaN,Gas,NaN,Zentralheizung,NaN,mbliert
960,WOHNUNG,001/G3/E4,ZUM_KAUF,20230,1172,493480,True,90482,EUR,"['Neubau', 'barriefrei', 'WANNE', 'DUSCHE', 'F...",...,NaN,barrierefrei,Erstbezug,Neubau,Tiefgarage,NaN,NaN,Fubodenheizung,Personenaufzug,NaN

Info

In [29]:
df_github.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 961 entries, 0 to 960
Data columns (total 50 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   General.EstateTypeKey                                  961 non-null    object
 1   General.ReferenceNumber                                832 non-null    object
 2   General.DistributionTypeKey                            961 non-null    object
 3   General.ConstructionYear                               961 non-null    int64
 4   General.LivingSpace                                    961 non-null    int64
 5   Tealium.object_locationid                              961 non-null    int64
 6   Tealium.object_address_is_visible                      961 non-null    bool
 7   Tealium.object_zip                                     961 non-null    int64
 8   Tealium.object_currency                                961 non-null    object
 9   Tealium.object_features                                961 non-null    object
 10  Tealium.object_objektart_sub                           961 non-null    object
 11  Tealium.expose_type                                    961 non-null    object
 12  Tealium.broker_guid                                    961 non-null    int64
 13  Tealium.object_count_photos                            960 non-null    float64
 14  LocalRatings.scores.local_amenities                    958 non-null    float64
 15  LocalRatings.scores.mobility                           958 non-null    float64
 16  MetaBadges                                             961 non-null    object
 17  Price.AdditionalInformation.Commission.CommissionType  961 non-null    object
 18  EstateAddress.City                                     961 non-null    object
 19  EstateAddress.ZipCode                                  961 non-null    int64
 20  EstateAddress.Street                                   316 non-null    object
 21  Offerer.addressGuid                                    961 non-null    object
 22  Offerer.globalUserId                                   961 non-null    int64
 23  Offerer.contactData.companyName                        930 non-null    object
 24  Project.Address.PostCode                               177 non-null    float64
 25  Project.Address.Street                                 177 non-null    object
 26  Project.Address.HouseNumber                            146 non-null    object
 27  Latitude                                               961 non-null    int64
 28  Longitude                                              961 non-null    int64
 29  Stadtteil                                              961 non-null    object
 30  Stadt                                                  961 non-null    object
 31  PRICE                                                  961 non-null    int64
 32  Column1                                                961 non-null    float64
 33  ROOMS                                                  961 non-null    int64
 34  PRICE_COMMONCHARGE                                     423 non-null    float64
 35  EnergyType                                             727 non-null    object
 36  Class                                                  622 non-null    object
 37  Value                                                  727 non-null    float64
 38  CATEGORY                                               153 non-null    object
 39  FLOOR                                                  807 non-null    object
 40  USAGE                                                  325 non-null    object
 41  SUITABILITY                                            163 non-null    object
 42  CONDITION                                              415 non-null    object
 43  HOUSECONDITION                                         219 non-null    object
 44  PARKINGSLOT                                            404 non-null    object
 45  ENERGY                                                 789 non-null    object
 46  BUILDINGTYPE                                           118 non-null    object
 47  HEATING                                                734 non-null    object
 48  ELEVATOR                                               464 non-null    object
 49  EQUIPMENTS                                             84 non-null     object
dtypes: bool(1), float64(7), int64(11), object(31)
memory usage: 368.9+ KB

Show column names

In [30]:
df_github.columns

Index(['General.EstateTypeKey', 'General.ReferenceNumber',
       'General.DistributionTypeKey', 'General.ConstructionYear',
       'General.LivingSpace', 'Tealium.object_locationid',
       'Tealium.object_address_is_visible', 'Tealium.object_zip',
       'Tealium.object_currency', 'Tealium.object_features',
       'Tealium.object_objektart_sub', 'Tealium.expose_type',
       'Tealium.broker_guid', 'Tealium.object_count_photos',
       'LocalRatings.scores.local_amenities', 'LocalRatings.scores.mobility',
       'MetaBadges', 'Price.AdditionalInformation.Commission.CommissionType',
       'EstateAddress.City', 'EstateAddress.ZipCode', 'EstateAddress.Street',
       'Offerer.addressGuid', 'Offerer.globalUserId',
       'Offerer.contactData.companyName', 'Project.Address.PostCode',
       'Project.Address.Street', 'Project.Address.HouseNumber', 'Latitude',
       'Longitude', 'Stadtteil', 'Stadt', 'PRICE', 'Column1', 'ROOMS',
       'PRICE_COMMONCHARGE', 'EnergyType', 'Class', 'Value', 'CATEGORY',
       'FLOOR', 'USAGE', 'SUITABILITY', 'CONDITION', 'HOUSECONDITION',
       'PARKINGSLOT', 'ENERGY', 'BUILDINGTYPE', 'HEATING', 'ELEVATOR',
       'EQUIPMENTS'],
      dtype='object')

Show data types

In [31]:
df_github.dtypes

General.EstateTypeKey                                     object
General.ReferenceNumber                                   object
General.DistributionTypeKey                               object
General.ConstructionYear                                   int64
General.LivingSpace                                        int64
Tealium.object_locationid                                  int64
Tealium.object_address_is_visible                           bool
Tealium.object_zip                                         int64
Tealium.object_currency                                   object
Tealium.object_features                                   object
Tealium.object_objektart_sub                              object
Tealium.expose_type                                       object
Tealium.broker_guid                                        int64
Tealium.object_count_photos                              float64
LocalRatings.scores.local_amenities                      float64
LocalRatings.scores.mobility                             float64
MetaBadges                                                object
Price.AdditionalInformation.Commission.CommissionType     object
EstateAddress.City                                        object
EstateAddress.ZipCode                                      int64
EstateAddress.Street                                      object
Offerer.addressGuid                                       object
Offerer.globalUserId                                       int64
Offerer.contactData.companyName                           object
Project.Address.PostCode                                 float64
Project.Address.Street                                    object
Project.Address.HouseNumber                               object
Latitude                                                   int64
Longitude                                                  int64
Stadtteil                                                 object
Stadt                                                     object
PRICE                                                      int64
Column1                                                  float64
ROOMS                                                      int64
PRICE_COMMONCHARGE                                       float64
EnergyType                                                object
Class                                                     object
Value                                                    float64
CATEGORY                                                  object
FLOOR                                                     object
USAGE                                                     object
SUITABILITY                                               object
CONDITION                                                 object
HOUSECONDITION                                            object
PARKINGSLOT                                               object
ENERGY                                                    object
BUILDINGTYPE                                              object
HEATING                                                   object
ELEVATOR                                                  object
EQUIPMENTS                                                object
dtype: object

# Summary statistics for response variables